<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Bulk Email Sender - Upload Leads</title>
</head>

<body>
    <h1>Bulk Email Sender - Upload Leads</h1>
    <div class="upload-container">
            <input type="file" id="file-upload" class="file-input" accept=".csv, .xlsx, .xls" name="file" required>
            <label for="file-upload" class="file-label">Choose File</label>
            <div id="file-name" class="file-name">No file chosen</div>
            <button id="upload-btn" type="submit" class="upload-btn" disabled>Upload</button>
            <div class="file-types">Accepted file types: .csv, .xlsx, .xls</div>
    </div>
    <script src="{% static 'js/form.js' %}"></script>
</body>

</html>