<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Email Sender - Leads</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
</head>

<body>
    <h1>Bulk Email Sender - Leads</h1>
    <div class="lead-list" id="lead-list">
    </div>
    <div class="overlay" id="overlay">
        <div class="popup">
            <span class="close-btn" id="closePopup">&times;</span>
            <h2>Email Template</h2>
            <form class="email-template" id="email-form">
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" value="Info About Software Engineering Roles">

                <label for="body">Email Body:</label>
                <textarea id="email-body" name="body" required></textarea>

                <button type="submit" class="send-btn">Send</button>
            </form>
        </div>
    </div>
</body>

<script src="{% static 'js/home.js' %}"></script>

</html>