<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.jpeg' %}" type="image/x-icon">
    <title>Bulk Email Sender - Leads</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <h1>Bulk Email Sender - Leads</h1>
    <div class="lead-list" id="lead-list">
    </div>
</body>

<script src="{% static 'js/home.js' %}"></script>

</html>